// Begin Slider Search
#slider-search-2 {
    height: 682px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 20;
    visibility: inherit;
}

.slider__content {
    position: relative;
    top: 222px;
}

.option {
    background-color: #ffffff;
    position: relative;
    padding: 35px;
    margin-top: 60px;

        .option__title {
            color: #555555;
            font-size: 15px;
            line-height: 15px;
            font-weight: bold;
            margin-bottom: 23px;
        }

        .option__destination {
            padding: 15px;
            position: relative;

            select {
                width: 100%;
                outline: 0;
                border: 1px solid #f1f1f1;
                font-size: 15px;
                padding: 12px 30px;
                border-radius: 30px;
                cursor: pointer;
                color: #a3a3a3;
                outline: none;
                background-color: #f9f9f9;
                appearance: none;
            }

            .option__destination-img {
                width: 18px;
                position: absolute;
                top: 66px;
                right: 45px; 
            }
        }

        .option__date {
            padding: 15px;
            position: relative;

            .option__date-input {
                width: 100%;
                outline: 0;
                border: 1px solid #f1f1f1;
                font-size: 15px;
                padding: 12px 30px;
                border-radius: 30px;
                color: #a3a3a3;
                outline: none;
                background-color: #f9f9f9;
            }

            .option__date-img {
                width: 18px;
                position: absolute;
                top: 66px;
                right: 45px; 
            }

            .option__date-input:focus ~ .option__date-time {
                display: block;
            }

            .option__date-time {
                position: absolute;
                width: 300px;
                display: none;
                z-index: 99;

                .option__date-time-title {
                    display: flex;
                    padding: 15px 10px;
                    justify-content: space-between;
                    align-items: center;
                    background-color: #5d5d5d;

                    a {
                        text-decoration: none;
                        color: #878787;
                        padding: 2px 5px;
                        font-size: 10px;
                        text-transform: uppercase;
                        cursor: pointer;
                        font-weight: lighter;
                        letter-spacing: 2px;
                        line-height: 10px;
                        background-color: #555555;
                    }

                    h3 {
                        font-family:'Open Sans';
                        line-height: 20px;
                        font-size: 14px;
                        color: #fff;
                        font-weight: lighter;
                    }
                }

                .option__date-time-detail {
                    width: 100%;
                    text-align: center;
                    background-color: #555555;

                    table {
                        width: 100%;

                        th {
                            font-weight: lighter;
                            font-size: 11px;
                            text-transform: uppercase;
                            letter-spacing: 2px;
                            color: #a3a3a3;
                            line-height: 27px;
                        }

                        td {
                            text-decoration: none;
                            font-weight: lighter;
                            font-size: 12px;
                            line-height: 27px;
                            color: rgba(163, 163, 163, 0.3);
                            padding: 5px;

                            a {
                                color: #fff;
                                opacity: 1;
                                text-decoration: none;
                            }

                            .active {
                                background-color: #f3a46b;
                                display: block;
                            }
                        }
                    }
                }
            }
        }

        .option__price {
            padding: 15px;

            .option__price-heading {
                display: flex;
                justify-content: space-between;

                span {
                    color: #555555;
                }
            }

            .option__price-range {
                width: 100%;
                height: 4px;
                background-color: #f76570;
                outline: none;
                border: none;
                margin-bottom: 25px;
                cursor: pointer;
                // -webkit-appearance: none;
                -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
                // width: 100%;
                // height: 2em;
                // margin: 0;
                // padding: 0;
                // border: none;
                // border-radius: .375em;
                // background-color: #222222;
                // background: linear-gradient(#333333, #222222);
                // outline: none;
                // font: 1em trebuchet ms, verdana, arial, sans-serif;
            }

            input[type='checkbox'] {
                color: #9a9a9a;
                margin: 0px 7px 0px 5px;
            }

            .option__price-checkbox {
                color: #9a9a9a;
                font-size: 14px;
                line-height: 27px;
            }
        }

        .option__filters {
            position: absolute;
            bottom: -9px;
            left: 50%;
            transform: translateX(-50%);
            width: 700px;
            z-index: 98;

            .option__filters-main {
                text-align: center;

                .option__filters-detail {
                    background-color: #e27557;
                    padding: 7px 20px;
                    border-radius: 30px;
                    font-size: 14px;
                    color: #fff;
                    letter-spacing: 2px;
    
                    img {
                        width: 10px;
                        margin-right: 3px;
                    }
    
                    .option__filters-check {
                        position: absolute;
                    }
                }

                .option__filters-check {
                    background-color: #fff;
                    padding: 25px;
                    border: 1px solid #f1f1f1;
                    position: absolute;
                    top: 54px;
                    width: 100%;
                    display: none;
    
                    .option__filters-check-global {
                        text-align: left;

                        h4 {
                            color: #555555;
                            font-weight: bold;
                            font-size: 15px;
                            line-height: 15px;
                            margin-bottom: 20px;
                        }
    
                        p {
                            margin-top: 8px;
                            padding-left: 6px;
                        }
    
                        span {
                            color: #9a9a9a;
                            font-size: 14px;
                            margin-left: 12px;
                        }
                    }
                }
    
                .option__filters-check::after {
                    content: '';
                    border: 25px solid;
                    border-color: transparent transparent #fff transparent;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    top: -36px;
                    left: 50%;
                    transform: translateX(-50%);
                }
    
                .option__filters-check::before {
                    content: '';
                    width: 100%;
                    position: absolute;
                    height: 35px;
                    top: -35px;
                    left: 0;
                }
            }

            .option__filters-main:hover .option__filters-check {
                display: block;
            }

            
        }
} 

.more {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;

    .more-search {
        display: flex;

        .more-search-classify {
            position: relative;
            margin-right: 25px;

            p {
                color: #fff;
                font-size: 14px;
                line-height: 27px;
                padding-bottom: 3px;

                i {
                    font-size: 10px;
                    opacity: 0.7;
                    margin-left: 6px;
                }
            }

            .more-search-list {
                padding-top: 12px;
                display: none;
                position: absolute;
                top: 100%;
                left: 0;

                .more-search-item {
                    list-style-type: none;
                    background-color: #5d5d5d;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    font-size: 11px;
                    line-height: 11px;
                    padding: 15px 20px;
                    width: 160px;

                    a {
                        text-decoration: none;
                        color: #9a9a9a;
                        letter-spacing: 2px;

                    }
                }

                .more-search-item--diff {
                    background-color: #555555;
                }
            }
        }

        .more-search-classify:hover > .more-search-list {
            display: block;
        }
    }

    .more-display {

        img {
            width: 25px;
            margin-left: 20px;
        }
    }
}

.option-on-tablet-mobile {
    display: none;
}
// End Slider Search

// Content
#content-search-2 {
    margin: 80px 0px; 
}